<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestSuit">
    <classes>
      <class name="com.dlad.qa.testcases.Home"/>
      <class name="com.dlad.qa.testcases.LeadActivitiesOverview"/>
      <class name="com.dlad.qa.testcases.LeadActivityList"/>
      <class name="com.dlad.qa.testcases.LeadOverview"/>
      <class name="com.dlad.qa.testcases.LeadList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
